* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.timer {
  display: flex;
  justify-content: center;
  width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #8080ff;
  border-radius: 10px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 40px;
}

.value {
  padding: 0 10px;
  font-weight: bold;
  font-size: 60px;
  border-radius: 10px;
  text-align: center;
  color: #ffffff;
  background-color: rgb(66, 64, 64);
}

.label {
  padding-top: 20px;
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
}
